 <nav >
    <div class="navbar-left">
      <a href="../../Decayba/">
        <img src="./src/assets/logos/logodecayba.png" alt="logo" class="logo" />
      </a>

      <ul>
        <li>
          <a href="./src/pages/cosmetic/belleza.html">Belleza</a>
        </li>

        <li>
          <a href="./src/pages/home/hogar.html">Hogar</a>
        </li>

        <li>
          <a href="./src/pages/pets/mascotas.html">Mascotas</a>
        </li>

        <li>
          <a href="./src/pages/Toys/juguetes.html">Juguetes</a>
        </li>

       
      </ul>
    </div>

    <div class="navbar-right">
      <ul>
      

        <li class="navbar-shopping-cart">
          <a id="ver-carrito">
            <img src="./src/assets/icon/icon_shopping_cart.svg" alt="shopping cart" />
            <div>0</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  

