  <div class="hamburger" id="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="mobile-menu">
        <ul>
       

        <li>
          <a href="../../pages/cosmetic/belleza.html">Belleza</a>
        </li>

        <li>
          <a href="../../pages/home/hogar.html">Hogar</a>
        </li>

        <li>
          <a href="../../pages/pets/mascotas.html">Mascotas</a>
        </li>

        <li>
          <a href="../../pages/Toys/juguetes.html">Juguetes</a>
        </li>

       
      </ul>
        <!-- <ul>
            
            <li>
                <a href="../../pages/">Mis compras</a>
            </li>

            
            <li>
                <a href="Cuenta.html">Mi cuenta</a>
            </li>
        </ul>

        <ul>
            
            <li>
                <a href="editar-cuenta.html" class="email">camila@ejemplo.com</a>
            </li> -->

            
            <li>
                <a href="../../pages/home/index.html" class="sign-out">salir</a>
            </li>
        </ul>
    </div>