<div class="hamburger" id="hamburger">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="mobile-menu">
  <ul>
    <li>
      <a href="/src/pages/cosmetic/belleza.html">Belleza</a>
    </li>

    <li>
      <a href="/src/pages/home/hogar.html">Hogar</a>
    </li>

    <li>
      <a href="/src/pages/pets/mascotas.html">Mascotas</a>
    </li>

    <li>
      <a href="/src/pages/Toys/juguetes.html">Juguetes</a>
    </li>

    <li>
      <a href="/src/pages/home/index.html" class="sign-out">Salir</a>
    </li>
  </ul>
</div>
